body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
}

.titulo div {
  min-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo h1 {
  flex-grow: 1;
  text-align: center;
  color: #6278f7;
  text-align: center;
  font-family: Prata;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.titulo h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #6278f7;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}